@import 'fonts.css';

* {
  font-family: 'Nunito', sans-serif;
}

.noscroll {
  overflow: hidden;
}

.page {
  padding-bottom: 68px;
}

@media (min-width: 960px) {
  .page {
    padding-bottom: 56px;
  }
}
