@import 'fonts.css';

* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #f8f8fa;
}

#root {
  padding-bottom: 68px;
}

@media (min-width: 960px) {
  #root {
    padding-bottom: 56px;
  }
}
